/******* comun use ********/

body {
  font-family: "Trip Sans Med";
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5px;
}

.container-2 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5px;
}

.container-3 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5px;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  margin-top: 40px;
}

h3 {
  line-height: 33px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
h4 {
  line-height: 28px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

h5 {
  line-height: 22px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
a {
  color: black;
}

/************** header ***************/

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-top: 20px;
}
header .container div {
  position: relative;
  display: flex;
  flex: 1;
}
header .container .hide-humberger {
  display: none;
}
header .logo {
  width: 200px;
  margin-right: 30px;
}

.search-container {
  height: 38px;
  width: 100%;

  border-radius: 30px;
  border: solid #e0e0e0 2px;
}
.search-loop {
  /* line-height: 38px; */
  padding: 10px 8px;
  font-size: 20px;
  box-sizing: border-box;
}

header .container .hide-loop {
  display: none;
}
.search-container input {
  width: 84%;
  border: none;
}

.search-container input:focus {
  outline: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  margin-left: 10px;
  flex: 1;
}
nav a {
  text-decoration: none;
  margin-right: 8px;
  font-size: 16px;
  line-height: 20px;
  color: black;
  padding: 10px;
}

nav a:hover {
  background-color: #bababa;
  border-radius: 20px;
}
nav i {
  font-size: 20px;
  margin-right: 5px;
}
nav button {
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  color: white;
  border-style: none;
  cursor: pointer;
}

/* *********** End header ******** */

/*************** main *****************/

main section {
  padding-top: 12px;
  /* position: relative; */
}
h1 span {
  color: #e36868;
}

.main-nav {
  padding-top: 22px;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin-left: 0px;
  top: 0;
  z-index: 10;
}
.main-nav .div-to-hide {
  display: none;
}
.main-nav div {
  width: calc(96% / 6);
  height: 65px;
  border: black solid 1px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 17px 10px;
}

.main-nav p {
  font-size: 16px;
}

.main-nav div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* ************ album photos ********** */

.album-photos {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.album-photos .col-1 {
  max-width: 657px;
  max-height: 430px;
}

.album-photos .col-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-photos .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.album-photos .col-2 > div {
  max-width: 480px;
  max-height: 212px;
}
.album-photos .col-2 > div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.album-photos img:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* ************* End album photos ************ */

/* ********** litle nav ************ */
.litle-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  font-size: 12px;
}

.litle-nav a {
  text-decoration: none;
  margin-right: 5px;
}

.litle-nav a:hover {
  text-decoration: underline;
}

.city-presentation p {
  max-width: 650px;
  font-size: 20px;
  font-family: "Trip Sans Reg";
}

/***************** cards and carousel *********** */
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.cards > div {
  margin-right: 45px;
}
.cards .carousel {
  display: flex;
  flex: 3;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 20px;
  overflow-x: scroll;
  /* hide scroll bar IE and Edge */
  -ms-overflow-style: none;
  /* hide scroll bar firfox */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards .carousel::-webkit-scrollbar {
  display: none;
}
.card {
  width: 285px;
  position: relative;
}

.card:not(:last-child) {
  margin-right: 16px;
}

.card:hover {
  opacity: 0.8;
}

.card img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card .like-logo {
  text-align: center;
  line-height: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card .award-logo {
  background-color: #34e0a1;
  width: 40px;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 140px;
  left: 10px;
}

.card .award-logo img {
  width: 100%;
  height: 100%;
}

.card .like-logo i {
  font-size: 22px;
}
.card .ranking {
  display: flex;
  margin: 10px 0;
}
.card .ranking > div {
  width: 11px;
  height: 11px;
  margin-right: 1px;
  background-color: #00aa6c;
  border-radius: 50%;
}
.carousel .card a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.carousel .card a:hover {
  text-decoration: underline;
}

/* ******** footer ************* */

footer {
  background-color: #faf1ed;
  padding: 30px 0;
}
footer section {
  display: flex;
}

.currancy {
  flex: 1;
}
footer img {
  width: 40px;
  margin-right: 30px;
}

.currancy {
  display: flex;
}
.currancy > div {
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  border: solid gray 1px;
  padding: 10px 5px;
  box-sizing: border-box;
  flex: 1;
  margin-left: 5px;
}

.link-footer {
  flex: 4;
}

footer p {
  font-size: 11px;
  margin-top: 5px;
  width: 70%;
}

/* ******** Media ************ */

@media (min-width: 768px) and (max-width: 1184px) {
  .main-nav {
    flex-wrap: wrap;
  }
  .main-nav div {
    width: calc(97% / 4);
    margin-bottom: 8px;
    min-height: 48px;
  }
}

@media (max-width: 1184px) {
  .container {
    padding: 0 20px;
  }

  .search-container input {
    width: 80%;
  }

  .main-nav .div-to-hide {
    display: inherit;
  }

  .album-photos .col-1 {
    max-width: 731px;
    max-height: 374px;
  }

  .album-photos .col-2 > div {
    max-height: 184px;
  }
}

@media (max-width: 1024px) {
  .search-container input {
    width: 70%;
  }

  .link-to-hide {
    display: none;
  }
  header nav i {
    margin: 0 20px;
  }
  header .container .search-loop {
    display: inherit;
  }

  .album-photos .col-1 {
    max-height: 278px;
  }

  .album-photos .col-2 > div {
    max-width: 324px;
    max-height: 138px;
  }
}

@media (max-width: 768px) {
  .search-container input {
    display: none;
  }
  header .container > div .search-container {
    display: none;
  }
  header nav {
    display: none;
  }

  header .container {
    justify-content: space-between;
    align-items: center;
  }

  header .container .hide-humberger {
    display: inherit;
    font-size: 30px;
  }

  header .container .hide-loop {
    justify-content: end;
    display: inherit;
    font-size: 25px;
  }

  .main-nav {
    overflow-x: scroll;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .main-nav::-webkit-scrollbar {
    display: none;
  }
  .container .main-nav div {
    width: 180px;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .container .main-nav div:not(:last-child) {
    margin-right: 8px;
  }

  .album-photos .col-1 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .album-photos .col-1 img {
    width: 100%;
  }

  .album-photos .col-2 {
    display: none;
  }

  footer section {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
    margin-right: -20px;
  }

  .cards > div {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 32px;
  }

  header .logo {
    width: 140px;
  }
}

/* ***** modal ********** */

.disable {
  overflow: hidden;
}
.modal {
  display: flex;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}
.hide-main-nav {
  position: static;
}
.hidden {
  display: none;
}

.form-container,
.form-container > div,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: 0 auto;
  flex-direction: row;
}

.form-container > div {
  background-color: white;
  border-radius: 20px;
  padding: 60px 20px;
  position: relative;
}

.form-container i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-container i:hover {
  color: black;
  cursor: pointer;
}

.form-container p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

input,
textarea {
  width: 60%;
  margin: 10px 0;
  outline: none;
  border: black 2px solid;
  padding: 16px 10px;
  font-size: 16px;
  font-family: var(--trip-med);
}

input[type="submit"] {
  background-color: black;
  color: white;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-family: var(--trip-reg);
}

input[type="submit"]:hover {
  background-color: mediumseagreen;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: darkgreen solid 2px;
}
